body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: white;
    font-style: Tahoma;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 32px;
    align-items: center;
    margin-right: 100px;
}

li {
    font-weight: bold;
}

.header {
    display: flex;
    background: rgba(90, 88, 88, 0.2);
    justify-content: space-between;
    padding: 5px;
}

.header-logo {
    height: 75px;
    margin-left: 100px;
}

.container {
    background-image: url(./resources/background.jpg);
    background-size: cover;
    height: 550px;
}


.intro-container {
    display: flex;
    gap: 20px;
    height: 420px;
    align-items: flex-end;
    justify-content: center;
}

.intro-image {
    height: 200px;
    border: 5px solid white;
    border-radius: 0.5em;
    &:hover {
        transform: scale(1.05);
        transition: all ease ;
        border-radius: 5px;
        box-shadow: 0 0 30px rgb(145, 139, 139);
    }
}

.intro-items {
    width: 450px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    background: rgba(255, 255, 255, 0.9);
    padding: 15px;
    border-radius: 0.5em;
    min-width: 350px;
}

.intro-welcome {
    font-weight: bold;
    font-size: 20px;
}

.intro-desciption {
    font-size: medium;
    font-weight: 900;
}

button {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    padding: 5px 15px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    vertical-align: middle;
    border: 1px solid;
    border-radius: 6px;
    color: #ffffff;
    background-color: #ff5100;
    border-color: #1b1f2326;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
    transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    transition-property: color, background-color, border-color;

    &:hover {
        background-color: #ff7c01;
        border-color: #1b1f2326;
        transition-duration: 0.1s;
    }
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 600px;
    background-image: linear-gradient(
        rgba(218, 211, 211, 0.90), 
        rgba(218, 211, 211, 0.9)
      ),url(./resources/background2.jpg);
    background-size: cover;
    position: relative;
}

.info {
    font-family: "Ninja";
    margin-bottom: 30px;
    font-size: 60px;
    background: linear-gradient(90deg, #FFD700 0%, #FF0000 100%);
    -webkit-text-stroke:2px black;
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}

.shinobis {
    display: flex;
    gap: 30px;
}

.shinobi {
    height: 300px;
    width: 180px;
    object-fit: cover;
    border-radius: 0.5em;
}

img.shinobi {
    border: 5px solid rgb(255, 102, 0);
    &:hover {
        transform: scale(1.05);
        transition: all ease ;
        border-radius: 5px;
        box-shadow: 0 0 30px rgb(145, 139, 139);
    }
    margin-bottom: 10px;
}

.info-text {
    font-family: "Cartoon";
    font-size: 15px;
}

.quote-container {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url(./resources/background3.avif);
}


.quote-content {
    width: 550px;
    height: 130px;
    font-size: 20px;
    font-style: italic;
    background: rgba(255, 253, 253, 0.8);
    padding: 15px;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

img.jiraiya {
    height: 400px;
    &:hover {
        transform: scale(1.05);
        transition: all ease ;
        border-radius: 5px;
    }
}

.footer {
    height: 100px;
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.footer-text {
    text-align: left;
    color: white;
    font-size: 15px;
}

img.footer-image {
    height: 60px;
}

@font-face {
    font-family: "Ninja";
    src: url(./resources/ninja-naruto.regular.ttf);
}

@font-face {
    font-family: "Cartoon";
    src: url(./resources/cartoon.ttf);
}